{% extends "template.html" %} {% block title %} Pokemon {% endblock %}

{% block content %}

        <!-- Header-->
        <header class="masthead" style="background-image: url('static/assets/img/pokemon-bg.png')"></header>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 text-center">
                    <div class="p-5">
                        <h2 class="display-4">An ever-evolving adventure of exploration, friendship, and catching 'em all.</h2>
                        <p>
                            The Pokémon series, beginning with Red and Blue in 1996, takes players on adventures across vibrant regions, catching, training, and battling an ever-growing roster of unique creatures. 
                            Over the decades, its music has evolved from nostalgic 8-bit tunes to fully orchestrated scores. 
                            Themes range from peaceful town melodies to high-energy battle anthems, making Pokémon's music an instantly recognizable part of gaming history.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/pokemon-1.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Lavender Town Theme</h2>
                            <p>
                                An eerie, minimalist composition by Junichi Masuda that has gained legendary status for its unsettling atmosphere. 
                                It plays when exploring the mysterious Lavender Town, home to Pokémon Tower and its ghostly legends. 
                                The haunting tones perfectly match the town's somber lore.
                            </p>
                            <p>-No OST on Spotify because Nintendo is stingy :(-</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/pokemon-2.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Driftveil City Theme</h2>
                            <p>
                                A funky, jazz-inspired track composed by Shota Kageyama with groovy basslines and brass melodies that stand out in the Pokémon series. 
                                It plays when visiting Driftveil City, a bustling trade hub filled with ships and markets. 
                                The upbeat energy reflects the city's lively, working-class spirit.
                            </p>
                            <p>-Still no OST on Spotify :(-</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 4-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/pokemon-3.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Accumula Town Theme</h2>
                            <p>
                                A peaceful, piano and flute-driven melody composed by Shota Kageyama that welcomes players early in their journey. 
                                It is heard in Accumula Town, just after leaving the starting area, providing a warm and inviting atmosphere. 
                                The gentle tune gives a feeling of safety before the challenges ahead.
                            </p>
                            <p>-Still no OST on Spotify :(-</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 5-->
        <section>
            <div class="container px-5 mb-5">
                <hr class="divider" />
                <div class="row gx-5">
                    <div class="col-lg-4">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/JNJJ-QkZ8cM?si=Iio3lYyA2GJN-oHZ" 
                            title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/9hZ7gYB4E_c?si=-o2ciS6pHhnBRjeS" 
                            title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/uDifmU95_W4?si=WHAfpCPrlo6WN6Ti" 
                            title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}